<% if (page.posts.length > 0) { %>
<h1>文章归档</h1>

<% var year = 0; %>
<% page.posts.sort('date', -1).each(function(post) { %>
  <% var postYear = post.date.format('YYYY'); %>
  <% if (year !== postYear) { %>
    <% if (year !== 0) { %>
      </ul>
    <% } %>
    <% year = postYear; %>
    <h2 class="archive-year"><%= year %></h2>
    <ul class="archive-list">
  <% } %>
  <li class="archive-item">
    <time datetime="<%= post.date.toJSON() %>"><%= post.date.format('MM-DD') %></time>
    <a href="<%= url_for(post.path) %>"><%= post.title %></a>
  </li>
<% }); %>
</ul>

<style>
.archive-year {
  margin: 30px 0 15px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  color: #333;
}

.archive-list {
  list-style: none;
  padding-left: 0;
}

.archive-item {
  padding: 10px 0;
  border-bottom: 1px dashed #eee;
  display: flex;
}

.archive-item time {
  color: #666;
  min-width: 60px;
  margin-right: 20px;
}

.archive-item a {
  color: #0066cc;
  text-decoration: none;
  flex-grow: 1;
}

.archive-item a:hover {
  text-decoration: underline;
}
</style>
<% } %>